<h2>Listado de productos </h2>

<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>
        
    </mat-grid-tile>
</mat-grid-list>

<mat-card>
    <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Product"> -->
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Ver detalle</button>        
    </mat-card-actions>
</mat-card>